<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" 
    xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    id="WebApp_ID" metadata-complete="true" version="3.0">
  <display-name>QModal</display-name>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
       /WEB-INF/applicationContext.xml 
       /WEB-INF/spring-security.xml 
   </param-value>
  </context-param>
  
  
  
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  
  <filter-mapping>
	    <filter-name>springSecurityFilterChain</filter-name>
	    <url-pattern>/*</url-pattern>
	    <dispatcher>ERROR</dispatcher>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>INCLUDE</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/jsp/error/error.jsp</location>
  </error-page>
 
 
  <servlet>
    <servlet-name>qmodal</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>qmodal</servlet-name>
    <url-pattern>*.htm</url-pattern>
     <url-pattern>*.json</url-pattern>
    <url-pattern>/service/*</url-pattern>
    <url-pattern>/m/service/*</url-pattern>
    <url-pattern>/t/service/*</url-pattern>
    <url-pattern>/m/*</url-pattern>
    <url-pattern>/t/*</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>/WEB-INF/jsp/common/login.htm</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/spring</taglib-uri>
      <taglib-location>/WEB-INF/tld/spring-form.tld</taglib-location>
    </taglib>
  </jsp-config>
  <filter>
    <filter-name>CORSFilter</filter-name>
    <filter-class>com.qmodal.util.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CORSFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>